$font-size-base: 16px;
$line-height-base: 1.5;
$font-family-base: 'ROSans',
sans-serif;
$font-family-condensed: 'ROSans',
sans-serif;
$font-family-header: 'ROSans',
sans-serif;
$font-weight-base: 400;
$font-weight-header-base: 700;
$font-family-forms: $font-family-condensed;
$margin: 1.25rem;
$spacing: 1rem;
$spacing-half: $spacing / 2;
$spacing-double: 2 * $spacing;

$breakpoint-all: 0;
$breakpoint-small: 540px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-max: 1200px;

$black: rgb(0, 0, 0);
$tire: rgb(48, 48, 64);
$night: rgb(51, 51, 51);
$dark: rgb(64, 64, 64);
$grey: rgb(83, 83, 83);
$dim-grey: rgb(96, 96, 96);
$gun-grey: rgb(120, 120, 120);
$tin: rgb(169, 169, 169);
$silver: rgb(202, 203, 203);
$porcelain: rgb(224, 224, 224);
$satin: rgb(240, 240, 240);
$white: rgb(255, 255, 255);

// Colors in use
$forsyth: rgb(56, 49, 55);
$delft: rgb(31, 48, 94);
$blue: rgb(58, 87, 154);
$roblue: rgb(1, 104, 155);
$cornflower: rgb(100, 149, 237);
$dark-blue: rgb(42, 85, 135);

// Color mapping
$header-color: $black;
$form-accent-color: $roblue;
$accent-color: $roblue;
$link-color: $roblue;
$menu-link-color: $white;