article fieldset {
  padding: 0;
  margin-bottom: $spacing-double;
  border: none;

  legend {
    font-weight: 700;
    margin-bottom: $spacing/4;

  }

  .fieldset-wrapper {
    background: $satin;
    padding: $spacing;
  }
}