.page-header {
  background: $white;

  @include breakpoint($breakpoint-medium) {
    display: block;
  }
}

.page-content {
  max-width: $breakpoint-max;
  margin: 0 auto;
  background: $white;
  padding: $spacing $spacing $spacing-double;
  z-index: 2;
  position: relative;

  @include breakpoint($breakpoint-medium) {
    padding-left: 2*$spacing;
    padding-right: 2*$spacing;
  }
}

.page-footer {
  background: $night;
  min-height: 30rem;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.disclaimer {
  padding: $spacing-double $spacing;
  max-width: $breakpoint-max;
  margin: 0 auto;
  color: $white;
  font-size: 1rem;
  text-align: center;
  margin-top: auto;
}

@include breakpoint($breakpoint-large) {
  body.has-aside {
    .page-container {
      display: flex;

      .main-content {
        flex-grow: 1;
      }

      .aside {
        min-width: 300px;
        padding-left: $spacing-double;
      }
    }
  }
}

body.search-panel-open {
  overflow-y: hidden;
}

.toggle-button {
  a {
    color: $link-color;
  }

  font-size: 1.5rem;
  position: absolute;
  right: $spacing;
  top: $spacing;
  width: 1.5rem;

  &.search-toggler {
    top: $spacing*3;
  }

  @include breakpoint($breakpoint-medium) {
    display: none;
  }
}