*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  text-size-adjust: 100%;
  font-display: swap;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @include breakpoint($breakpoint-large) {
    font-size: 18px;
  }
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  text-align: left;
  background: $white;
  font-size: 1.125rem;
  line-height: 1.8;

  &.menu-open {
    overflow-y: hidden;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  font-weight: $font-weight-header-base;
  font-family: $font-family-header;
  font-display: swap;
  color: $header-color;
  margin: $spacing-double 0 $spacing/4;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  max-width: 50rem;
}

h2 {
  font-size: 1.75rem;
  margin: $spacing-double 0 $spacing/4;
  max-width: 50rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  margin: 0 0 $spacing * 1.5;
}

article p {
  max-width: 40em;
}

ol,
ul {
  margin: $margin 0;
}

ol ol,
ul ul {
  margin-bottom: 0;
}

article li {
  margin-bottom: 0.25rem;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: $link-color;
  border-bottom: 1px solid transparent;
  transition: all 0.3333s ease-in-out;

  &:hover {
    text-decoration: none;
    border-bottom-color: currentColor;
  }
}

img {
  display: block;
  margin: 0;
  border: 0;
  max-width: 100%;
  height: auto;
}

.item-list li {
  margin: 0 0 0.25rem 1.5rem;
  padding: 0;
}

.dialog-off-canvas-main-canvas {
  position: relative;
}