article table,
.view table,
.ledger-table table {
  border-top: 1px solid $porcelain;
  border-left: 1px solid $porcelain;
  width: 100%;
  border-collapse: collapse;

  tr {
    padding: 0;
    margin: 0;
  }

  td,
  th {
    border-right: 1px solid $porcelain;
    border-bottom: 1px solid $porcelain;
    margin: 0;
    padding: $spacing-half $spacing;

    &.text-right {
      text-align: right;
    }

    &.text-strong {
      font-weight: 700;
    }

    &.column-medium {
      width: 14rem;
    }

    &.column-small {
      width: 4rem;
    }
  }
}