<header role="banner" class="page-header">
  {{ page.header }}

</header>

<div class="mobile-menu-target-wrapper"></div>

<main role="main" class="page-content">
<div class="search-toggler toggle-button"><a id="search" href="#search"><i class="fas fa-search"></i></a></div>  
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  
  {{ page.above }}
  
  <div class="page-container">
    <div class="main-content">
      {{ page.content }}
    </div>
    {% if page.aside %}
    <aside class="aside">
      {{ page.aside }}
    </aside>
    {% endif %}
  </div>
  
  {{ page.below }}
</main>

<footer role="contentinfo" class="page-footer">
  {{ page.footer }}
  <div class="disclaimer">&copy; 2020 <a href="http://helderit.nl">Helder IT</a></div>
</footer>
<div class="menu-blinder">
  <a class="closer" href="#">x</a>
</div>
