{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {{ content }}
    <div class="navigation-buttons">
      <a class="search-toggler" href="#">Toggle search</a>
      <a class="menu-toggler" href="#">Toggle menu</a>
    </div>
  </div>
{% endif %}