input,
select {
  transition: all 0.333s ease-in-out;
  color: $dark;
}

.form-submit,
.button {
  margin: 0 auto $spacing;
  appearance: none;
  background: $form-accent-color;
  border: none;
  color: $white;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.1rem;
  border-radius: 2px;
  padding: 0.38rem 1.77rem;
  cursor: pointer;
  font-family: $font-family-base;
  font-weight: 400;
  outline: none;
  width: 100%;
  box-shadow: none;

  @include breakpoint($breakpoint-medium) {
    width: inherit;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    padding: 0.5rem 2rem;
  }

  &:hover,
  &:focus {
    background: darken($form-accent-color, 5%);
    box-shadow: 0 10px 30px rgba($dark, 0.25);
  }

  &.button-grey {
    background: $dark;
    border-bottom-color: darken($dark, 10%);

    &:hover,
    &:focus {
      background: darken($dark, 5%);
      border-bottom-color: darken($dark, 15%);
    }
  }

  &.button-add {
    &:after {
      content: '+';
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-left: $spacing;
      border-radius: 50%;
      background: $white;
      color: $form-accent-color;
      line-height: 1rem;
      text-align: center;
    }
  }
}

label {
  font-weight: 700;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="phone"],
textarea,
.form-textarea-wrapper textarea {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  font-family: $font-family-base;
  font-size: 1.25rem;
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 1rem;
  border: 1px solid $silver;
  color: #404040;
  border-radius: 2px 2px 2px 2px;
  margin-bottom: $margin;
  box-sizing: border-box;

  &:focus {
    box-shadow: 0 0 8px cornflowerblue;
  }
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  padding: $spacing / 3;
  display: block;
  border: 1px solid $form-accent-color;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 1px solid $form-accent-color;
    box-shadow: 0 0 8px cornflowerblue;
  }

  &:checked {
    background: $form-accent-color;
  }
}

.form-item,
.form-actions {
  margin: 0;
}

.js-form-type-checkbox {
  margin-bottom: $spacing;
  display: flex;
  align-items: baseline;

  input {
    margin-right: $spacing-half;
  }
}

#edit-preview {
  display: none;
}

.user-login-form,
.user-form,
.user-pass {
  padding: $spacing;
  color: $black;

  @include breakpoint($breakpoint-medium) {
    padding: $spacing 0;
  }

  .form-item {
    margin-bottom: $spacing;
  }
}

.vertical-tabs__panes {
  padding: $spacing;
}