.region-header {
  display: flex;
  transition: all 0.333s ease-in-out;
  background: $white;
  position: relative;
  z-index: 3;

  .navigation {
    margin-left: auto;
    align-items: center;
    background: $white;
    flex-grow: 1;
    z-index: 10;
    display: none;

    @include breakpoint($breakpoint-medium) {
      display: flex;
    }
  }

  @at-root body.scrolled & {
    position: fixed;
    box-shadow: 0 0 30px rgba($black, 0.2);
    width: 100%;
    top: 0;
    left: 0;
  }

  @at-root body.scrolled.user-logged-in & {
    top: 40px;
  }

  @at-root body.scrolled.user-logged-in.toolbar-tray-open & {
    @include breakpoint($breakpoint-medium) {
      top: 81px;
    }
  }

  .navigation-buttons {
    flex-grow: 1;
    background: $white;
    height: 4rem;
    display: flex;
    z-index: 4;

    &:first-child {
      margin-left: auto;
    }

    @include breakpoint($breakpoint-medium) {
      height: 10rem;
      flex-grow: 0;

      @at-root body.scrolled & {
        height: 7rem;
      }
    }
  }

  .menu-toggler,
  .search-toggler {
    display: block;
    height: 4rem;
    background: $white;
    z-index: 3;
    border: none;
    background-image: url(../img/search.svg);
    background-size: 1.25rem;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0 $spacing;
    cursor: pointer;
    text-indent: -9999px;
    width: 2.5rem;
    margin-left: auto;

    @include breakpoint($breakpoint-medium) {
      height: 10rem;
      margin-left: 0;
      width: 4rem;
      background-size: 1.75rem;

      @at-root body.scrolled & {
        height: 7rem;
      }
    }

    &:hover {
      background-image: url(../img/search-night.svg);
    }

    @at-root body.search-open .search-toggler {
      background-color: $accent-color;
      background-image: url(../img/search-white.svg);
    }
  }

  .menu-toggler {
    background-image: url(../img/bars.svg);
    margin-left: 0;

    @include breakpoint($breakpoint-medium) {
      display: none;
    }

    &:hover {
      background-image: url(../img/bars-night.svg);
    }
  }
}