.paragraph--type--text-image {
  .field-title {
    margin-bottom: $spacing * 2
  }

  .field-image {
    margin: 0 (-$spacing) $spacing * 2;

    @include breakpoint($breakpoint-medium) {
      margin: 0 0 ($spacing * 4) 0;
    }

    img {
      box-shadow: 0 0 30px rgba($black, 0.05);
    }

    @at-root body.has-no-aside & {
      @include breakpoint($breakpoint-large) {
        margin-left: -$spacing*3;
      }
    }
  }
}