html{line-height:1.15;-webkit-text-size-adjust:100%;}body{margin:0;}main{display:block;}h1{font-size:2em;margin:0.67em 0;}hr{box-sizing:content-box;height:0;overflow:visible;}pre{font-family:monospace,monospace;font-size:1em;}a{background-color:transparent;}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}b,strong{font-weight:bolder;}code,kbd,samp{font-family:monospace,monospace;font-size:1em;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sub{bottom:-0.25em;}sup{top:-0.5em;}img{border-style:none;}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0;}button,input{overflow:visible;}button,select{text-transform:none;}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText;}fieldset{padding:0.35em 0.75em 0.625em;}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}progress{vertical-align:baseline;}textarea{overflow:auto;}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0;}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto;}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}details{display:block;}summary{display:list-item;}template{display:none;}[hidden]{display:none;}
svg:not(:root){overflow:hidden;}input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none){summary{display:block;}}@supports (-ms-ime-align:auto){summary{display:block;}}
.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-right:auto;margin-left:auto;}
.fieldgroup{padding:0;border-width:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}
.clearfix:after{display:table;clear:both;content:"";}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;overflow:visible;clip:auto;width:auto;height:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li:after{content:", ";}.item-list__comma-list li:last-child:after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.progress{position:relative;}.progress__track{min-width:100px;max-width:100%;height:16px;margin-top:5px;border:1px solid;background-color:#fff;}.progress__bar{width:3%;min-width:3%;max-width:100%;height:16px;background-color:#000;}.progress__description,.progress__percentage{overflow:hidden;margin-top:0.2em;color:#555;font-size:0.875em;}.progress__description{float:left;}[dir="rtl"] .progress__description{float:right;}.progress__percentage{float:right;}[dir="rtl"] .progress__percentage{float:left;}.progress--small .progress__track{height:7px;}.progress--small .progress__bar{height:7px;background-size:20px 20px;}
.reset-appearance{margin:0;padding:0;border:0 none;background:transparent;line-height:inherit;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.resize-none{resize:none;}.resize-vertical{min-height:2em;resize:vertical;}.resize-horizontal{max-width:100%;resize:horizontal;}.resize-both{max-width:100%;min-height:2em;resize:both;}
table.sticky-header{z-index:500;top:0;margin-top:0;background-color:#fff;}
.tablesort{display:inline-block;width:16px;height:16px;background-size:100%;}.tablesort--asc{background-image:url(/core/misc/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/core/misc/icons/787878/twistie-up.svg);}
div.tree-child{background:url(/core/misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/core/misc/tree-bottom.png) no-repeat 11px center;}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center;}div.tree-child-horizontal{background:url(/core/misc/tree.png) no-repeat -11px center;}
:root{}.ajax-progress{display:inline-block;}.ajax-progress-bar{width:13em;padding:0 0.3125rem;}.ajax-progress--throbber{position:relative;display:inline-flex;align-content:center;height:1.125rem;margin:-3px 0.75rem 0;vertical-align:middle;white-space:nowrap;line-height:1.125rem;}.js .button:not(.js-hide) + .ajax-progress--throbber{margin-left:0;}[dir="rtl"].js .button:not(.js-hide) + .ajax-progress--throbber{margin-right:0;margin-left:0.75rem;}.js .form-type--managed-file .button:not(.js-hide) + .ajax-progress--throbber,.js .file-operations-cell .button:not(.js-hide) + .ajax-progress--throbber{margin-left:0.75rem;}[dir="rtl"].js .form-type--managed-file .button:not(.js-hide) + .ajax-progress--throbber,[dir="rtl"].js .file-operations-cell .button:not(.js-hide) + .ajax-progress--throbber{margin-right:0.75rem;margin-left:0.75rem;}.ajax-progress__throbber{box-sizing:border-box;width:1.125rem;height:1.125rem;animation:claro-throbber 0.75s linear infinite;border:2px solid #003cc5;border-right:2px dotted transparent;border-radius:50%;}.ajax-progress__message{display:inline-block;padding-left:0.75rem;font-size:0.889rem;}[dir="rtl"] .ajax-progress__message{padding-right:0.75rem;padding-left:0;}.ajax-progress--fullscreen{position:fixed;z-index:1000;top:50%;left:50%;box-sizing:border-box;width:3.5rem;height:3.5rem;margin:-1.75rem;border:1px solid rgba(216,217,224,0.8);border-radius:3.5rem;background:#fff;box-shadow:0 0.25rem 0.625rem rgba(34,35,48,0.1);}.ajax-progress__throbber--fullscreen{position:absolute;top:50%;left:50%;width:1.75rem;height:1.75rem;margin:-0.875rem;content:"";border:3px solid #003cc5;border-right:3px dotted transparent;}@media screen and (-ms-high-contrast:active){@supports (-ms-ime-align:auto){[dir="rtl"] .ajax-progress__throbber{border-width:4px;}}}@keyframes claro-throbber{0%{transform:rotateZ(0);}100%{transform:rotateZ(360deg);}}
:root{}.js .form-autocomplete{background-image:url("data:image/svg+xml,%3Csvg width='40' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8,0.999781c-4.5394538,-0.1723607 -8.18800628,4.7870352 -6.6873554,9.068641 1.1767997,4.383903 6.9938335,6.416563 10.6372244,3.700244 0.325764,-0.391006 0.56541,0.275384 0.84585,0.440896 1.246479,1.246479 2.492958,2.492959 3.739437,3.739438 0.471354,-0.471354 0.942709,-0.942709 1.414063,-1.414063 -1.44987,-1.44987 -2.89974,-2.899739 -4.34961,-4.349609C16.410345,8.7174615 14.748115,2.9379071 10.536504,1.4755074 9.7302231,1.1615612 8.8650587,0.99941873 8,0.999781Z m0,2c3.242467,-0.1231148 5.848576,3.4193109 4.776682,6.477601 -0.841211,3.131959 -4.9939918,4.58038 -7.5998944,2.649077C2.4322236,10.397214 2.2765833,6.0022025 4.8919502,4.0831465 5.7667487,3.38528 6.8811016,2.996997 8,2.999781Z' fill='%23868686' /%3E%3C/svg%3E");background-repeat:no-repeat;background-position:100% 50%;}.js .form-autocomplete::-ms-clear{display:none;}.js[dir="rtl"] .form-autocomplete{background-image:url("data:image/svg+xml,%3Csvg width='40' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12,0.999781c4.539454,-0.1723607 8.188006,4.7870352 6.687355,9.068641 -1.176799,4.383903 -6.993833,6.416563 -10.637224,3.700244C7.724367,13.37766 7.484721,14.04405 7.204281,14.209562 5.957802,15.456041 4.711323,16.702521 3.464844,17.949 2.99349,17.477646 2.522135,17.006291 2.050781,16.534937 3.500651,15.085067 4.950521,13.635198 6.400391,12.185328 3.589655,8.7174615 5.251885,2.9379071 9.463496,1.4755074 10.269777,1.1615612 11.134941,0.99941873 12,0.999781Z m0,2C8.757533,2.8766662 6.151424,6.4190919 7.223318,9.477382c0.841211,3.131959 4.993992,4.58038 7.599894,2.649077C17.567776,10.397214 17.723417,6.0022025 15.10805,4.0831465 14.233251,3.38528 13.118898,2.996997 12,2.999781Z' fill='%23868686' /%3E%3C/svg%3E");background-position:0 50%;}.js .form-autocomplete.is-autocompleting{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' height='20' width='40'%3E%3Cstyle type='text/css'%3E @keyframes s%7B0%25%7Btransform:rotate(0deg) translate(-50%25,-50%25)%7D50%25%7Btransform:rotate(430deg) translate(-50%25,-50%25);stroke-dashoffset:20%7D100%25%7Btransform:rotate(720deg) translate(-50%25,-50%25)%7D%7Dellipse%7Banimation:s 1s linear infinite%7D%3C/style%3E%3Cg transform='translate(5 5)'%3E%3Cellipse fill='none' ry='4' rx='4' cy='5' cx='5' stroke='%23004adc' stroke-width='1' stroke-dashoffset='6.125' stroke-dasharray='25' transform='translate(-5 -5)' /%3E%3C/g%3E%3C/svg%3E");}.js[dir="rtl"] .form-autocomplete.is-autocompleting{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' height='20' width='40'%3E%3Cstyle type='text/css'%3E @keyframes s%7B0%25%7Btransform:rotate(0deg) translate(-50%25,-50%25)%7D50%25%7Btransform:rotate(-430deg) translate(-50%25,-50%25);stroke-dashoffset:20%7D100%25%7Btransform:rotate(-720deg) translate(-50%25,-50%25)%7D%7Dellipse%7Banimation:s 1s linear infinite%7D%3C/style%3E%3Cg transform='translate(5 5)'%3E%3Cellipse fill='none' ry='4' rx='4' cy='5' cx='5' stroke='%23004adc' stroke-width='1' stroke-dashoffset='6.125' stroke-dasharray='25' transform='translate(-5 -5)' /%3E%3C/g%3E%3C/svg%3E");}_:-ms-fullscreen,.js .form-autocomplete.is-autocompleting{background-image:url(/core/themes/claro/images/spinner-ltr.gif);background-size:2.5rem 1.25rem;}_:-ms-fullscreen,.js[dir="rtl"] .form-autocomplete.is-autocompleting{background-image:url(/core/themes/claro/images/spinner-rtl.gif);}.claro-autocomplete{position:relative;display:inline-block;max-width:100%;margin:0.25rem 0;}.claro-autocomplete__message{position:absolute;right:0;bottom:100%;max-width:100%;margin-bottom:0.15rem;color:#003cc5;font-size:0.702rem;font-weight:bold;line-height:1.125rem;}[dir="rtl"] .claro-autocomplete__message{right:auto;left:0;}.js .is-autocompleting + .claro-autocomplete__message{display:block;}
:root{}body.drag{cursor:move;}.region-title{font-weight:bold;}.region-message{color:#82828c;}.region-message.region-populated{display:none;}.tabledrag-changed.tabledrag-changed{border-bottom:none;}.add-new .tabledrag-changed{display:none;}.draggable .tabledrag-changed{position:relative;left:-0.5rem;}[dir="rtl"] .draggable .tabledrag-changed{right:-0.5rem;left:auto;}.tabledrag-cell--only-drag .tabledrag-changed{width:1.5rem;min-width:1.5rem;}.draggable.drag,.draggable.drag:focus{background-color:#fe7;}.draggable.drag-previous{background-color:#ffb;}.draggable-table td:first-child ~ td,.draggable-table th:first-child ~ th{padding-left:0;}[dir="rtl"] .draggable-table td:first-child ~ td,[dir="rtl"] .draggable-table th:first-child ~ th{padding-right:0;padding-left:1rem;}.draggable td .form-element--type-select[name$="][_weight]"],.draggable td .term-weight,.draggable td .field-weight{width:auto;}.tabledrag-handle{position:relative;z-index:1;overflow:visible;cursor:move;text-align:center;vertical-align:text-top;}.tabledrag-handle::after{display:inline-block;width:1.0625rem;height:1.0625rem;margin-left:-1rem;padding:0.5rem 1rem;content:"";transition:transform 0.1s ease-in-out 0s;background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='m 14.102955,5.47562 c -0.1819,-0.20654 -0.4917,-0.23016 -0.7014,-0.05265 -0.2098,0.17684 -0.2462,0.4914 -0.0814,0.71278 l 1.0998,1.34591 H 8.5124153 V 1.62014 l 1.31954,1.11304 c 0.1033,0.0945 0.2395997,0.14242 0.3771997,0.13162 0.1383,-0.01013 0.2667,-0.07762 0.3548,-0.18629 0.088,-0.10935 0.129,-0.24974 0.1131,-0.39014 -0.0159,-0.14039 -0.0873,-0.26796 -0.1979,-0.35369 L 8.3278353,0.118965 c -0.1879501,-0.1586199 -0.4592601,-0.1586199 -0.6472101,0 l -2.15136,1.815715 c -0.11052,0.08572 -0.1819799,0.2133 -0.19787,0.35369 -0.0159,0.1404 0.02514,0.2808 0.1131601,0.39014 0.08801,0.10867 0.2163899,0.17616 0.35471,0.18629 0.1376499,0.0108 0.2739799,-0.03712 0.3772199,-0.13162 l 1.31956,-1.11304 v 5.86152 h -5.90757 L 2.6797353,6.13575 c 0.13963,-0.22004 0.09661,-0.51163 -0.10059,-0.6797 -0.19722,-0.16875 -0.4864,-0.15997 -0.67369,0.01957 L 0.11663625,7.66993 c -0.155515,0.1917 -0.155515,0.46843 0,0.66013 L 1.9054553,10.5244 c 0.18199,0.2065 0.49169,0.2301 0.70147,0.0526 0.20978,-0.1768 0.24617,-0.4914 0.0814,-0.71276 l -1.09986,-1.34591 h 5.9075699 v 5.86147 l -1.3195699,-1.113 c -0.2170501,-0.1681 -0.52545,-0.1316 -0.6988201,0.0824 -0.1740399,0.2146 -0.15089,0.5298 0.05162,0.7161 l 2.15136,1.8164 v -7e-4 c 0.18794,0.1587 0.4592601,0.1587 0.6472001,0 l 2.1513297,-1.8157 c 0.2025,-0.1863 0.2257,-0.5015 0.0517,-0.7161 -0.1734,-0.214 -0.4818,-0.2504 -0.6988997,-0.0824 l -1.31954,1.1131 V 8.51835 h 5.9075397 l -1.0912,1.3459 c -0.1059,0.10193 -0.1641,0.24505 -0.1602,0.39285 0.004,0.1485 0.0702,0.2875 0.182,0.3827 0.1119,0.0952 0.2581,0.137 0.4017,0.1154 0.1436,-0.0223 0.2713,-0.106 0.3507,-0.2308 l 1.7809,-2.19434 c 0.1549,-0.19169 0.1549,-0.46842 0,-0.66012 z'/%3E%3C/svg%3E") no-repeat center;}[dir="rtl"] .tabledrag-handle::after{margin-right:-1rem;margin-left:0;}@media screen and (-ms-high-contrast:active){.tabledrag-handle::after{content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 16 16'%3E%3Cpath fill='currentColor' d='m 14.102955,5.47562 c -0.1819,-0.20654 -0.4917,-0.23016 -0.7014,-0.05265 -0.2098,0.17684 -0.2462,0.4914 -0.0814,0.71278 l 1.0998,1.34591 H 8.5124153 V 1.62014 l 1.31954,1.11304 c 0.1033,0.0945 0.2395997,0.14242 0.3771997,0.13162 0.1383,-0.01013 0.2667,-0.07762 0.3548,-0.18629 0.088,-0.10935 0.129,-0.24974 0.1131,-0.39014 -0.0159,-0.14039 -0.0873,-0.26796 -0.1979,-0.35369 L 8.3278353,0.118965 c -0.1879501,-0.1586199 -0.4592601,-0.1586199 -0.6472101,0 l -2.15136,1.815715 c -0.11052,0.08572 -0.1819799,0.2133 -0.19787,0.35369 -0.0159,0.1404 0.02514,0.2808 0.1131601,0.39014 0.08801,0.10867 0.2163899,0.17616 0.35471,0.18629 0.1376499,0.0108 0.2739799,-0.03712 0.3772199,-0.13162 l 1.31956,-1.11304 v 5.86152 h -5.90757 L 2.6797353,6.13575 c 0.13963,-0.22004 0.09661,-0.51163 -0.10059,-0.6797 -0.19722,-0.16875 -0.4864,-0.15997 -0.67369,0.01957 L 0.11663625,7.66993 c -0.155515,0.1917 -0.155515,0.46843 0,0.66013 L 1.9054553,10.5244 c 0.18199,0.2065 0.49169,0.2301 0.70147,0.0526 0.20978,-0.1768 0.24617,-0.4914 0.0814,-0.71276 l -1.09986,-1.34591 h 5.9075699 v 5.86147 l -1.3195699,-1.113 c -0.2170501,-0.1681 -0.52545,-0.1316 -0.6988201,0.0824 -0.1740399,0.2146 -0.15089,0.5298 0.05162,0.7161 l 2.15136,1.8164 v -7e-4 c 0.18794,0.1587 0.4592601,0.1587 0.6472001,0 l 2.1513297,-1.8157 c 0.2025,-0.1863 0.2257,-0.5015 0.0517,-0.7161 -0.1734,-0.214 -0.4818,-0.2504 -0.6988997,-0.0824 l -1.31954,1.1131 V 8.51835 h 5.9075397 l -1.0912,1.3459 c -0.1059,0.10193 -0.1641,0.24505 -0.1602,0.39285 0.004,0.1485 0.0702,0.2875 0.182,0.3827 0.1119,0.0952 0.2581,0.137 0.4017,0.1154 0.1436,-0.0223 0.2713,-0.106 0.3507,-0.2308 l 1.7809,-2.19434 c 0.1549,-0.19169 0.1549,-0.46842 0,-0.66012 z'/%3E%3C/svg%3E");background:none;}}.tabledrag-handle::after,.tabledrag-disabled .tabledrag-handle.tabledrag-handle.tabledrag-handle::after{transform:scale(1);}.tabledrag-handle:hover::after,.tabledrag-handle:focus::after,.draggable.drag .tabledrag-handle::after{transform:scale(1.25);}.tabledrag-handle:focus{outline:none !important;box-shadow:none !important;}.tabledrag-handle:focus::before{display:block;width:2rem;height:2rem;margin:0 -0.5rem -2rem;content:"";border-radius:2px;outline:2px dotted transparent;box-shadow:0 0 0 3px #26a769;}.tabledrag-disabled .tabledrag-handle{cursor:default;opacity:0.4;}.tabledrag-disabled .tabledrag-handle.tabledrag-handle::before{content:normal;}.touchevents .tabledrag-handle::after{padding-top:0.75rem;padding-bottom:0.75rem;}.touchevents .draggable .menu-item__link{padding-top:0.5rem;padding-bottom:0.5rem;}.tabledrag-toggle-weight-wrapper{text-align:right;}[dir="rtl"] .tabledrag-toggle-weight-wrapper{text-align:left;}.tabledrag-cell{padding-top:0;padding-bottom:0;}.tabledrag-cell--only-drag{width:1px;padding-right:0;}[dir="rtl"] .tabledrag-cell--only-drag{padding-right:1rem;padding-left:0;}.tabledrag-cell-content{display:table;height:100%;}.tabledrag-cell-content > *{display:table-cell;vertical-align:middle;}.tabledrag-cell-content__item{padding-right:0.5rem;}[dir="rtl"] .tabledrag-cell-content__item{padding-right:0;padding-left:0.5rem;}.tabledrag-cell-content__item:empty{display:none;}.tabledrag-cell-content .indentation,[dir="rtl"] .tabledrag-cell-content .indentation{float:none;overflow:hidden;height:100%;}.tabledrag-cell-content .tree{min-height:100%;}@media not all and (min-resolution:0.001dpcm){@media{.tabledrag-cell-content .tree{overflow:visible;min-height:0;}}}.tabledrag-cell-content .tabledrag-handle::after{vertical-align:middle;}.indentation{position:relative;left:-0.25rem;float:left;width:1.5625rem;height:1.5625rem;background:none !important;line-height:0;}[dir="rtl"] .indentation{right:-0.25rem;left:auto;float:right;}.tree{width:1.5625rem;height:1.5625rem;}.tree__item{display:none;}.tree-child path:not(.tree__item-child-ltr){display:none;}.tree-child path.tree__item-child-ltr{display:block;}[dir="rtl"] .tree-child path:not(.tree__item-child-rtl){display:none;}[dir="rtl"] .tree-child path.tree__item-child-rtl{display:block;}.tree-child-last path:not(.tree__item-child-last-ltr){display:none;}.tree-child-last path.tree__item-child-last-ltr{display:block;}[dir="rtl"] .tree-child-last path:not(.tree__item-child-last-rtl){display:none;}[dir="rtl"] .tree-child-last path.tree__item-child-last-rtl{display:block;}.tree-child-horizontal path:not(.tree__item-horizontal){display:none;}.tree-child-horizontal path.tree__item-horizontal{display:block;}
.ui-helper-hidden{display:none;}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none;}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse;}.ui-helper-clearfix:after{clear:both;}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0);}.ui-front{z-index:100;}.ui-state-disabled{cursor:default !important;pointer-events:none;}.ui-icon{display:inline-block;vertical-align:middle;margin-top:-.25em;position:relative;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;}.ui-widget-icon-block{left:50%;margin-left:-8px;display:block;}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%;}
.ui-resizable{position:relative;}.ui-resizable-handle{position:absolute;font-size:0.1px;display:block;-ms-touch-action:none;touch-action:none;}.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none;}.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0;}.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0;}.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%;}.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%;}.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px;}.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px;}.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px;}.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px;}
.ui-checkboxradio-label .ui-icon-background{box-shadow:inset 1px 1px 1px #ccc;border-radius:.12em;border:none;}.ui-checkboxradio-radio-label .ui-icon-background{width:16px;height:16px;border-radius:1em;overflow:visible;border:none;}.ui-checkboxradio-radio-label.ui-checkboxradio-checked .ui-icon,.ui-checkboxradio-radio-label.ui-checkboxradio-checked:hover .ui-icon{background-image:none;width:8px;height:8px;border-width:4px;border-style:solid;}.ui-checkboxradio-disabled{pointer-events:none;}
.ui-controlgroup{vertical-align:middle;display:inline-block;}.ui-controlgroup > .ui-controlgroup-item{float:left;margin-left:0;margin-right:0;}.ui-controlgroup > .ui-controlgroup-item:focus,.ui-controlgroup > .ui-controlgroup-item.ui-visual-focus{z-index:9999;}.ui-controlgroup-vertical > .ui-controlgroup-item{display:block;float:none;width:100%;margin-top:0;margin-bottom:0;text-align:left;}.ui-controlgroup-vertical .ui-controlgroup-item{box-sizing:border-box;}.ui-controlgroup .ui-controlgroup-label{padding:.4em 1em;}.ui-controlgroup .ui-controlgroup-label span{font-size:80%;}.ui-controlgroup-horizontal .ui-controlgroup-label + .ui-controlgroup-item{border-left:none;}.ui-controlgroup-vertical .ui-controlgroup-label + .ui-controlgroup-item{border-top:none;}.ui-controlgroup-horizontal .ui-controlgroup-label.ui-widget-content{border-right:none;}.ui-controlgroup-vertical .ui-controlgroup-label.ui-widget-content{border-bottom:none;}.ui-controlgroup-vertical .ui-spinner-input{width:75%;width:calc(100% - 2.4em);}.ui-controlgroup-vertical .ui-spinner .ui-spinner-up{border-top-style:solid;}
.ui-button{padding:.4em 1em;display:inline-block;position:relative;line-height:normal;margin-right:.1em;cursor:pointer;vertical-align:middle;text-align:center;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;overflow:visible;}.ui-button,.ui-button:link,.ui-button:visited,.ui-button:hover,.ui-button:active{text-decoration:none;}.ui-button-icon-only{width:2em;box-sizing:border-box;text-indent:-9999px;white-space:nowrap;}input.ui-button.ui-button-icon-only{text-indent:0;}.ui-button-icon-only .ui-icon{position:absolute;top:50%;left:50%;margin-top:-8px;margin-left:-8px;}.ui-button.ui-icon-notext .ui-icon{padding:0;width:2.1em;height:2.1em;text-indent:-9999px;white-space:nowrap;}input.ui-button.ui-icon-notext .ui-icon{width:auto;height:auto;text-indent:0;white-space:normal;padding:.4em 1em;}input.ui-button::-moz-focus-inner,button.ui-button::-moz-focus-inner{border:0;padding:0;}
:root{}:root{}.dropbutton-wrapper{display:inline-flex;border-radius:2px;box-shadow:0 1px 2px rgba(0,0,0,0.25);}.form-actions .dropbutton-wrapper{margin:0.5rem 1rem 0.5rem 0;}[dir="rtl"] .form-actions .dropbutton-wrapper{margin-right:0;margin-left:1rem;}.dropbutton-widget{position:relative;flex:1 1 auto;}.js .dropbutton-wrapper.open .dropbutton-widget{z-index:100;}.dropbutton{display:block;overflow:visible;margin:0;list-style:none;}[dir="rtl"] .dropbutton{margin:0;}.js .dropbutton{height:3rem;}.js.no-touchevents .dropbutton--small{height:2rem;}.js.no-touchevents .dropbutton--extrasmall{height:1.5rem;}.js .dropbutton--multiple .dropbutton__item:first-of-type{margin-right:calc(3rem + 1px);}[dir="rtl"].js .dropbutton--multiple .dropbutton__item:first-of-type{margin-right:0;margin-left:calc(3rem + 1px);}.js.no-touchevents .dropbutton--multiple.dropbutton--small .dropbutton__item:first-of-type{margin-right:calc(2rem + 1px);}[dir="rtl"].js.no-touchevents .dropbutton--multiple.dropbutton--small .dropbutton__item:first-of-type{margin-right:0;margin-left:calc(2rem + 1px);}.js.no-touchevents .dropbutton--multiple.dropbutton--extrasmall .dropbutton__item:first-of-type{margin-right:calc(1.5rem + 1px);}[dir="rtl"].js.no-touchevents .dropbutton--multiple.dropbutton--extrasmall .dropbutton__item:first-of-type{margin-right:0;margin-left:calc(1.5rem + 1px);}.dropbutton__toggle{position:absolute;z-index:3;top:0;right:0;bottom:0;width:3rem;height:3rem;border:1px solid transparent !important;border-radius:0 2px 2px 0;background:#d4d4d8;font-size:1px;-webkit-appearance:none;-moz-appearance:none;appearance:none;}[dir="rtl"] .dropbutton__toggle{right:auto;left:0;border-radius:2px 0 0 2px;}.dropbutton__toggle::before{position:absolute;top:50%;right:50%;width:0.875rem;height:0.5625rem;content:"";transform:translate(50%,-50%) rotate(0);background:url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.2384999,1.9384769 1.646703,0.5166019 7.0002189,5.8193359 12.353735,0.5166019 13.761938,1.9384769 7.0002189,8.635742Z' fill='%23222330'/%3E%3C/svg%3E") no-repeat center;background-size:contain;}.dropbutton__toggle:hover{color:#222330;background-color:#c2c3ca;box-shadow:0 2px 4px rgba(0,0,0,0.25);}.dropbutton__toggle:focus{z-index:2;}.dropbutton__toggle:active{color:#222330;background-color:#adaeb3;}.dropbutton-wrapper.open .dropbutton__toggle::before{transform:translate(50%,-50%) rotate(180deg);}[dir="rtl"] .dropbutton-wrapper.open .dropbutton__toggle::before{transform:translate(50%,-50%) rotate(-180deg);}.no-touchevents .dropbutton--small .dropbutton__toggle{width:2rem;height:2rem;}.no-touchevents .dropbutton--extrasmall .dropbutton__toggle{width:1.5rem;height:1.5rem;}.no-touchevents .dropbutton--small .dropbutton__toggle::before,.no-touchevents .dropbutton--extrasmall .dropbutton__toggle::before{width:0.75rem;}@media screen and (-ms-high-contrast:active){.dropbutton__toggle::before{width:0.5625rem;height:0.5625rem;margin-top:-0.19886rem;transform:translate(50%,-50%) rotate(135deg);border:0.125rem solid;border-width:0.125rem 0.125rem 0 0;background:none;}.dropbutton-wrapper.open .dropbutton__toggle::before{margin-top:0.19886rem;transform:translate(50%,-50%) rotate(315deg);}[dir="rtl"] .dropbutton-wrapper.open .dropbutton__toggle::before{transform:translate(50%,-50%) rotate(-45deg);}.no-touchevents .dropbutton--small .dropbutton__toggle::before,.no-touchevents .dropbutton--extrasmall .dropbutton__toggle::before{width:0.4375rem;height:0.4375rem;margin-top:-0.15467rem;}.dropbutton-wrapper.open .dropbutton__toggle::before{margin-top:0.15467rem;}}.dropbutton__item:first-of-type > *{display:inline-block;margin:0;padding:calc(1rem - 1px) calc(1.5rem - 1px);cursor:pointer;text-align:center;text-decoration:none;color:#222330;border:1px solid transparent !important;border-radius:2px;background-color:#d4d4d8;font-size:1rem;font-weight:700;line-height:1rem;-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-font-smoothing:antialiased;}.dropbutton--multiple .dropbutton__item:first-of-type > *{padding-right:calc(1rem - 1px);padding-left:calc(1rem - 1px);}.no-touchevents .dropbutton__item--small:first-of-type > *{padding-top:calc(0.625rem - 1px);padding-bottom:calc(0.625rem - 1px);font-size:0.79rem;line-height:0.75rem;}.no-touchevents .dropbutton__item--extrasmall:first-of-type > *{padding-top:calc(0.375rem - 1px);padding-bottom:calc(0.375rem - 1px);font-size:0.79rem;line-height:0.75rem;}.dropbutton__item:first-of-type > *:hover,.dropbutton__item:first-of-type > .button:hover{text-decoration:none;color:#222330;background-color:#c2c3ca;box-shadow:0 2px 4px rgba(0,0,0,0.25);}.dropbutton__item:first-of-type > *:focus:hover,.dropbutton__item:first-of-type > .button:focus:hover{box-shadow:0 0 0 2px #fff,0 0 0 5px #26a769;}.dropbutton__item:first-of-type > *:focus{text-decoration:none;}.dropbutton__item:first-of-type > *:active{color:#222330;background-color:#adaeb3;}.dropbutton--multiple .dropbutton__item:first-of-type > *{position:relative;z-index:3;}.dropbutton--multiple .dropbutton__item:first-of-type > *:focus{z-index:2;}.js .dropbutton--multiple .dropbutton__item:first-of-type > *{border-radius:2px 0 0 2px;}[dir="rtl"].js .dropbutton--multiple .dropbutton__item:first-of-type > *{border-radius:0 2px 2px 0;}.dropbutton > .dropbutton__item > a,.dropbutton > .dropbutton__item > .button{display:block;box-sizing:border-box;width:100%;margin:0;text-align:left;}[dir="rtl"] .dropbutton > .dropbutton__item > a,[dir="rtl"] .dropbutton > .dropbutton__item > .button{text-align:right;}.js .dropbutton-wrapper:not(.open) .dropbutton__item:first-of-type ~ .dropbutton__item{display:none;}.dropbutton__item:first-of-type ~ .dropbutton__item{border:1px solid #d4d4d8;border-bottom:0;box-shadow:0 2px 10px rgba(0,0,0,0.15);}.dropbutton__item:first-of-type ~ .dropbutton__item ~ .dropbutton__item{border-top:0;}.dropbutton__item ~ .dropbutton__item:last-child{border-bottom:1px solid #d4d4d8;border-radius:0 0 2px 2px;}.dropbutton__item:first-of-type ~ .dropbutton__item > a,.dropbutton__item:first-of-type ~ .dropbutton__item > .button{position:relative;padding:calc(1rem - 1px);text-decoration:none;color:#545560;border:1px solid transparent !important;border-radius:2px;background:#fff;box-shadow:0;font-size:1rem;font-weight:normal;line-height:1rem;-webkit-font-smoothing:antialiased;}@media screen and (-ms-high-contrast:active){.dropbutton__item:first-of-type ~ .dropbutton__item > a,.dropbutton__item:first-of-type ~ .dropbutton__item > .button{border-color:transparent !important;}}.dropbutton__item:first-of-type ~ .dropbutton__item > a:not(:focus),.dropbutton__item:first-of-type ~ .dropbutton__item > .button:not(:focus){z-index:1;}.no-touchevents .dropbutton__item:first-of-type ~ .dropbutton__item--small > a,.no-touchevents .dropbutton__item:first-of-type ~ .dropbutton__item--small > .button{padding-top:0.625rem;padding-bottom:0.625rem;font-size:0.79rem;line-height:0.75rem;}.no-touchevents .dropbutton__item:first-of-type ~ .dropbutton__item--extrasmall > a,.no-touchevents .dropbutton__item:first-of-type ~ .dropbutton__item--extrasmall > .button{padding-top:0.375rem;padding-bottom:0.375rem;font-size:0.79rem;line-height:0.75rem;}.dropbutton__item > *:focus{position:relative;z-index:3;}.dropbutton__item:first-of-type ~ .dropbutton__item > *:hover{color:#222330;background:#f3f4f9;}.dropbutton__item > .button:not(:focus){box-shadow:none;}.dropbutton__item:first-of-type ~ .dropbutton__item > *:focus{border-color:#26a769 !important;box-shadow:inset 0 0 0 1px #26a769,0 0 0 1px #26a769;}
.views-admin ul,.views-admin menu,.views-admin dir{padding:0;}.views-admin pre{margin-top:0;margin-bottom:0;white-space:pre-wrap;}.views-left-25{float:left;width:25%;}[dir="rtl"] .views-left-25{float:right;}.views-left-30{float:left;width:30%;}[dir="rtl"] .views-left-30{float:right;}.views-left-40{float:left;width:40%;}[dir="rtl"] .views-left-40{float:right;}.views-left-50{float:left;width:50%;}[dir="rtl"] .views-left-50{float:right;}.views-left-75{float:left;width:75%;}[dir="rtl"] .views-left-75{float:right;}.views-right-50{float:right;width:50%;}[dir="rtl"] .views-right-50{float:left;}.views-right-60{float:right;width:60%;}[dir="rtl"] .views-right-60{float:left;}.views-right-70{float:right;width:70%;}[dir="rtl"] .views-right-70{float:left;}.views-group-box .form-item{margin-right:3px;margin-left:3px;}.views-displays{clear:both;}.views-displays .tabs{overflow:visible;margin:0;padding:0;border-bottom:0 none;}.views-displays .tabs > li{float:left;padding:0;border-right:0 none;}[dir="rtl"] .views-displays .tabs > li{float:right;border-right:1px solid #bfbfbf;border-left:0 none;}.views-displays .tabs .open > a{position:relative;z-index:51;}.views-displays .tabs .views-display-deleted-link{text-decoration:line-through;}.views-display-deleted > details > summary,.views-display-deleted .details-wrapper > .views-ui-display-tab-bucket > *,.views-display-deleted .views-display-columns{opacity:0.25;}.views-display-disabled > details > summary,.views-display-disabled .details-wrapper > .views-ui-display-tab-bucket > *,.views-display-disabled .views-display-columns{opacity:0.5;}.views-display-tab .details-wrapper > .views-ui-display-tab-bucket .actions{opacity:1;}.views-displays .tabs .add{position:relative;}.views-displays .tabs .action-list{position:absolute;z-index:50;top:23px;left:0;margin:0;}[dir="rtl"] .views-displays .tabs .action-list{right:0;left:auto;}.views-displays .tabs .action-list li{display:block;}.views-display-columns .details-wrapper{padding:0;}.views-display-column{box-sizing:border-box;}.views-display-columns > *{margin-bottom:2em;}@media screen and (min-width:45em){.views-display-columns > *{float:left;width:32%;margin-bottom:0;margin-left:2%;}[dir="rtl"] .views-display-columns > *{float:right;margin-right:2%;margin-left:0;}.views-display-columns > *:first-child{margin-left:0;}[dir="rtl"] .views-display-columns > *:first-child{margin-right:0;}}.views-ui-dialog .scroll{overflow:auto;padding:1em;}.views-filterable-options-controls{display:none;}.views-ui-dialog .views-filterable-options-controls{display:inline;}.views-ui-dialog .views-messages{overflow:auto;max-height:200px;}.views-display-setting .label,.views-display-setting .views-ajax-link{float:left;}[dir="rtl"] .views-display-setting .label,[dir="rtl"] .views-display-setting .views-ajax-link{float:right;}.form-item-options-value-all{display:none;}.js-only{display:none;}html.js .js-only{display:inherit;}html.js span.js-only{display:inline;}.js .views-edit-view .dropbutton-wrapper{width:auto;}
#toolbar-administration,#toolbar-administration *{box-sizing:border-box;}#toolbar-administration{margin:0;padding:0;vertical-align:baseline;font-size:small;line-height:1;}@media print{#toolbar-administration{display:none;}}.toolbar-loading #toolbar-administration{overflow:hidden;}.toolbar li,.toolbar .item-list,.toolbar .item-list li,.toolbar .menu-item,.toolbar .menu-item--expanded{list-style-type:none;list-style-image:none;}.toolbar .menu-item{padding-top:0;}.toolbar .toolbar-bar .toolbar-tab,.toolbar .menu-item{display:block;}.toolbar .toolbar-bar .toolbar-tab.hidden{display:none;}.toolbar a{display:block;line-height:1;}.toolbar .toolbar-bar,.toolbar .toolbar-tray{position:relative;z-index:1250;}.toolbar-horizontal .toolbar-tray{position:fixed;left:0;width:100%;}.toolbar-oriented .toolbar-bar{position:absolute;top:0;right:0;left:0;}.toolbar-oriented .toolbar-tray{position:absolute;right:0;left:0;}@media (min-width:61em){.toolbar-loading.toolbar-horizontal .toolbar .toolbar-bar .toolbar-tab:last-child .toolbar-tray{position:relative;z-index:-999;display:block;visibility:hidden;width:1px;}.toolbar-loading.toolbar-horizontal .toolbar .toolbar-bar .toolbar-tab:last-child .toolbar-tray .toolbar-lining{width:999em;}.toolbar-loading.toolbar-horizontal .toolbar .toolbar-bar .home-toolbar-tab + .toolbar-tab .toolbar-tray{display:block;}}.toolbar-oriented .toolbar-bar{z-index:502;}body.toolbar-fixed .toolbar-oriented .toolbar-bar{position:fixed;}body.toolbar-tray-open.toolbar-fixed.toolbar-vertical .toolbar-oriented{bottom:0;width:240px;width:15rem;}.toolbar-loading.toolbar-horizontal .toolbar .toolbar-tray .toolbar-menu > li,.toolbar .toolbar-bar .toolbar-tab,.toolbar .toolbar-tray-horizontal li{float:left;}[dir="rtl"] .toolbar-loading.toolbar-horizontal .toolbar .toolbar-tray .toolbar-menu > li,[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar .toolbar-tray-horizontal li{float:right;}@media only screen{.toolbar .toolbar-bar .toolbar-tab,.toolbar .toolbar-tray-horizontal li{float:none;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar .toolbar-tray-horizontal li{float:none;}}@media (min-width:16.5em){.toolbar .toolbar-bar .toolbar-tab,.toolbar .toolbar-tray-horizontal li{float:left;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar .toolbar-tray-horizontal li{float:right;}}.toolbar-oriented .toolbar-bar .toolbar-tab,.toolbar-oriented .toolbar-tray-horizontal li{float:left;}[dir="rtl"] .toolbar-oriented .toolbar-bar .toolbar-tab,[dir="rtl"] .toolbar-oriented .toolbar-tray-horizontal li{float:right;}.toolbar .toolbar-tray{z-index:501;display:none;}.toolbar-oriented .toolbar-tray-vertical{position:absolute;left:-100%;width:240px;width:15rem;}[dir="rtl"] .toolbar-oriented .toolbar-tray-vertical{right:-100%;left:auto;}.toolbar .toolbar-tray-vertical > .toolbar-lining{min-height:100%;}.toolbar .toolbar-tray-vertical > .toolbar-lining:before{width:100%;}.toolbar-oriented .toolbar-tray-vertical > .toolbar-lining:before{position:fixed;z-index:-1;top:0;bottom:0;left:0;display:block;width:240px;width:14rem;content:"";}[dir="rtl"] .toolbar .toolbar-tray-vertical > .toolbar-lining:before{right:0;left:auto;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{position:relative;z-index:502;}.toolbar-oriented .toolbar-tray-horizontal .menu-item ul{display:none;}.toolbar .toolbar-tray-vertical.is-active,body.toolbar-fixed .toolbar .toolbar-tray-vertical{position:fixed;overflow-x:hidden;overflow-y:auto;height:100%;}.toolbar .toolbar-tray.is-active{display:block;}.toolbar-oriented .toolbar-tray-vertical.is-active{left:0;}[dir="rtl"] .toolbar-oriented .toolbar-tray-vertical.is-active{right:0;left:auto;}body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-left:240px;margin-left:15rem;}@media print{body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-left:0;}}[dir="rtl"] body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-right:240px;margin-right:15rem;margin-left:auto;}@media print{[dir="rtl"] body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{margin-right:0;}}.toolbar .toolbar-tray .toolbar-toggle-orientation{display:none;}.toolbar-oriented .toolbar-tray .toolbar-toggle-orientation{display:block;}.toolbar-oriented .toolbar-tray-horizontal .toolbar-toggle-orientation{position:absolute;top:auto;right:0;bottom:0;}[dir="rtl"] .toolbar-oriented .toolbar-tray-horizontal .toolbar-toggle-orientation{right:auto;left:0;}.toolbar-oriented .toolbar-tray-vertical .toolbar-toggle-orientation{float:right;width:100%;}[dir="rtl"] .toolbar-oriented .toolbar-tray-vertical .toolbar-toggle-orientation{float:left;}.toolbar .toolbar-bar .home-toolbar-tab{display:none;}.path-admin .toolbar-bar .home-toolbar-tab{display:block;}
.toolbar .toolbar-menu,[dir="rtl"] .toolbar .toolbar-menu{margin:0;padding:0;list-style:none;}.toolbar .toolbar-box{position:relative;display:block;width:auto;line-height:1em;}.toolbar .toolbar-tray-vertical .toolbar-menu ul{display:none;}.toolbar .toolbar-tray-horizontal .toolbar-menu .toolbar-handle{display:none;}.toolbar-tray-open .toolbar-menu .menu-item--expanded ul{display:none;}.toolbar .toolbar-tray-vertical li.open > ul{display:block;}.toolbar .toolbar-tray-vertical .toolbar-handle + a{margin-right:3em;}[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-handle + a{margin-right:0;margin-left:3em;}.toolbar .toolbar-tray .menu-item--active-trail > .toolbar-box a,.toolbar .toolbar-tray a.is-active{color:#000;font-weight:bold;}@media screen and (max-width:319px){.toolbar .toolbar-tray-vertical.is-active{width:100%;}}.toolbar .level-2 > ul{border-top-color:#e5e5e5;border-bottom-color:#ccc;background-color:#fafafa;}.toolbar .level-3 > ul{border-top-color:#ddd;border-bottom-color:#c5c5c5;background-color:#f5f5f5;}.toolbar .level-4 > ul{border-top-color:#d5d5d5;border-bottom-color:#bbb;background-color:#eee;}.toolbar .level-5 > ul{border-top-color:#ccc;border-bottom-color:#b5b5b5;background-color:#e5e5e5;}.toolbar .level-6 > ul{border-top-color:#c5c5c5;border-bottom-color:#aaa;background-color:#eee;}.toolbar .level-7 > ul{border-top-color:#ccc;border-bottom-color:#b5b5b5;background-color:#fafafa;}.toolbar .level-8 > ul{border-top-color:#ddd;border-bottom-color:#ccc;background-color:#ddd;}.toolbar .toolbar-handle:hover{cursor:pointer;}.toolbar .toolbar-icon.toolbar-handle{position:absolute;z-index:1;top:0;right:0;bottom:0;display:block;height:100%;padding:0;}[dir="rtl"] .toolbar .toolbar-icon.toolbar-handle{right:auto;left:0;padding:0;}
.views-live-preview .contextual-region-active{outline:medium none;}.views-live-preview .contextual{top:auto;right:auto;}[dir="rtl"] .views-live-preview .contextual{left:auto;}.js .views-live-preview .contextual{display:inline;}.views-live-preview .contextual-links-trigger{display:block;}.contextual .contextual-links{right:auto;min-width:10em;padding:6px 6px 9px 6px;border-radius:0 4px 4px 4px;}[dir="rtl"] .contextual .contextual-links{left:auto;border-radius:4px 0 4px 4px;}.contextual-links li a,.contextual-links li span{padding-top:0.25em;padding-right:0.1667em;padding-bottom:0.25em;}[dir="rtl"] .contextual-links li a,[dir="rtl"] .contextual-links li span{padding-right:0;padding-left:0.1667em;}.contextual-links li span{font-weight:bold;}.contextual-links li a{margin:0.25em 0;padding-left:1em;}[dir="rtl"] .contextual-links li a{padding-right:1em;padding-left:0.1667em;}.contextual-links li a:hover{background-color:#badbec;}
.views-admin .links{margin:0;list-style:none outside none;}.views-admin a:hover{text-decoration:none;}.box-padding{padding-right:12px;padding-left:12px;}.box-margin{margin:12px 12px 0 12px;}.views-admin .icon{width:16px;height:16px;}.views-admin .icon,.views-admin .icon-text{background-image:url(/core/modules/views_ui/images/sprites.png);background-repeat:no-repeat;background-attachment:scroll;background-position:left top;}[dir="rtl"] .views-admin .icon,[dir="rtl"] .views-admin .icon-text{background-position:right top;}.views-admin a.icon{border:1px solid #ddd;border-radius:4px;background:linear-gradient(-90deg,#fff 0,#e8e8e8 100%) no-repeat,repeat-y;box-shadow:0 0 0 rgba(0,0,0,0.3333) inset;}.views-admin a.icon:hover{border-color:#d0d0d0;box-shadow:0 0 1px rgba(0,0,0,0.3333) inset;}.views-admin a.icon:active{border-color:#c0c0c0;}.views-admin span.icon{position:relative;float:left;}[dir="rtl"] .views-admin span.icon{float:right;}.views-admin .icon.compact{display:block;overflow:hidden;text-indent:-9999px;direction:ltr;}.views-admin .icon-text{padding-left:19px;}[dir="rtl"] .views-admin .icon-text{padding-right:19px;padding-left:0;}.views-admin .icon.linked{background-position:center -153px;}.views-admin .icon.unlinked{background-position:center -195px;}.views-admin .icon.add{background-position:center 3px;}.views-admin a.icon.add{background-position:center 3px,left top;}[dir="rtl"] .views-admin a.icon.add{background-position:center 3px,right top;}.views-admin .icon.delete{background-position:center -52px;}.views-admin a.icon.delete{background-position:center -52px,left top;}[dir="rtl"] .views-admin a.icon.delete{background-position:center -52px,right top;}.views-admin .icon.rearrange{background-position:center -111px;}.views-admin a.icon.rearrange{background-position:center -111px,left top;}[dir="rtl"] .views-admin a.icon.rearrange{background-position:center -111px,right top;}.views-displays .tabs a:hover > .icon.add{background-position:center -25px;}.views-displays .tabs .open a:hover > .icon.add{background-position:center 3px;}details.box-padding{border:none;}.views-admin details details{margin-bottom:0;}.form-item{margin-top:9px;padding-top:0;padding-bottom:0;}.form-type-checkbox{margin-top:6px;}.form-checkbox,.form-radio{vertical-align:baseline;}.container-inline{padding-top:15px;padding-bottom:15px;}.container-inline > * + *,.container-inline .details-wrapper > * + *{padding-left:4px;}[dir="rtl"] .container-inline > * + *,[dir="rtl"] .container-inline .details-wrapper > * + *{padding-right:4px;padding-left:0;}.views-admin details details.container-inline{margin-top:1em;margin-bottom:1em;padding-top:0;}.views-admin details details.container-inline > .details-wrapper{padding-bottom:0;}.views-admin .form-type-checkbox + .form-wrapper{margin-left:16px;}[dir="rtl"] .views-admin .form-type-checkbox + .form-wrapper{margin-right:16px;margin-left:0;}.views-remove-checkbox{display:none;}.views-admin .form-type-checkbox label,.views-admin .form-type-radio label{line-height:2;}.views-admin-dependent .form-item{margin-top:6px;margin-bottom:6px;}.views-ui-view-name h3{margin:0.25em 0;font-weight:bold;}.view-changed{margin-bottom:21px;}.views-admin .unit-title{margin-top:18px;margin-bottom:0;font-size:15px;line-height:1.6154;}.views-ui-view-displays ul{margin-left:0;padding-left:0;list-style:none;}[dir="rtl"] .views-ui-view-displays ul{margin-right:0;margin-left:inherit;padding-right:0;padding-left:inherit;}.views-ui-name{width:20%;}.views-ui-description{width:30%;}.views-ui-machine-name{width:15%;}.views-ui-displays{width:25%;}.views-ui-operations{width:10%;}.form-item-description-enable + .form-item-description{margin-top:0;}.form-item-description-enable label{font-weight:bold;}.form-item-page-create,.form-item-block-create{margin-top:13px;}.form-item-page-create label,.form-item-block-create label,.form-item-rest-export-create label{font-weight:bold;}.form-item-page-style-style-plugin > label,.form-item-block-style-style-plugin > label{display:block;}.views-attachment .options-set label{font-weight:normal;}.group-populated{display:none;}td.group-title{font-weight:bold;}.views-ui-dialog td.group-title{margin:0;padding:0;}.views-ui-dialog td.group-title span{display:block;overflow:hidden;height:1px;}.group-message .form-submit,.views-remove-group-link,.views-add-group{float:right;clear:both;}[dir="rtl"] .group-message .form-submit,[dir="rtl"] .views-remove-group-link,[dir="rtl"] .views-add-group{float:left;}.views-operator-label{padding-left:0.5em;text-transform:uppercase;font-weight:bold;font-style:italic;}[dir="rtl"] .views-operator-label{padding-right:0.5em;padding-left:0;}.grouped-description,.exposed-description{float:left;padding-top:3px;padding-right:10px;}[dir="rtl"] .grouped-description,[dir="rtl"] .exposed-description{float:right;padding-right:0;padding-left:10px;}.views-displays{padding-bottom:36px;border:1px solid #ccc;}.views-display-top{position:relative;padding:8px 8px 3px;border-bottom:1px solid #ccc;background-color:#e1e2dc;}.views-display-top .tabs{margin-right:18em;}[dir="rtl"] .views-display-top .tabs{margin-right:0;margin-left:18em;}.views-display-top .tabs > li{margin-right:6px;padding-left:0;}[dir="rtl"] .views-display-top .tabs > li{margin-right:0.3em;margin-left:6px;padding-right:0;}.views-display-top .tabs > li:last-child{margin-right:0;}[dir="rtl"] .views-display-top .tabs > li:last-child{margin-right:0.3em;margin-left:0;}.form-edit .form-actions{margin-top:0;padding:8px 12px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-left:1px solid #ccc;background-color:#e1e2dc;}.views-displays .tabs.secondary{margin-right:200px;border:0;}[dir="rtl"] .views-displays .tabs.secondary{margin-right:0;margin-left:200px;}.views-displays .tabs.secondary li,.views-displays .tabs.secondary li.is-active{width:auto;padding:0;border:0;background:transparent;}.views-displays .tabs li.add ul.action-list li{margin:0;}.views-displays .tabs.secondary li{margin:0 5px 5px 6px;}[dir="rtl"] .views-displays .tabs.secondary li{margin-right:6px;margin-left:5px;}.views-displays .tabs.secondary .tabs__tab + .tabs__tab{border-top:0;}.views-displays .tabs li.tabs__tab:hover{padding-left:0;border:0;}[dir="rtl"] .views-displays .tabs li.tabs__tab:hover{padding-right:0;}.views-displays .tabs.secondary a{display:inline-block;padding:3px 7px;border:1px solid #cbcbcb;border-radius:7px;font-size:small;line-height:1.3333;}.views-displays .tabs li.is-active a.is-active.error,.views-displays .tabs .error{padding:1px 6px;border:2px solid #ed541d;}.views-displays .tabs a:focus{outline:none;}.views-displays .tabs.secondary li a{background-color:#fff;}.views-displays .tabs li a:hover,.views-displays .tabs li.is-active a,.views-displays .tabs li.is-active a.is-active{color:#fff;background-color:#555;}.views-displays .tabs .open > a{position:relative;border-bottom:1px solid transparent;background-color:#f1f1f1;}.views-displays .tabs .open > a:hover{color:#0074bd;background-color:#f1f1f1;}.views-displays .tabs .action-list li{padding:2px 9px;border-width:0 1px;border-style:solid;border-color:#cbcbcb;background-color:#f1f1f1;}.views-displays .tabs .action-list li:first-child{border-width:1px 1px 0;}.views-displays .action-list li:last-child{border-width:0 1px 1px;}.views-displays .tabs .action-list li:last-child{border-width:0 1px 1px;}.views-displays .tabs .action-list input.form-submit{margin:0;padding:0;border:medium none;background:none repeat scroll 0 0 transparent;}.views-displays .tabs .action-list input.form-submit:hover{box-shadow:none;}.views-displays .tabs .action-list li:hover{background-color:#ddd;}.edit-display-settings{margin:12px 12px 0 12px;}.edit-display-settings-top.views-ui-display-tab-bucket{position:relative;margin:0 0 15px 0;padding-top:4px;padding-bottom:4px;border:1px solid #f3f3f3;line-height:20px;}.views-display-column{border:1px solid #f3f3f3;}.views-display-column + .views-display-column{margin-top:0;}.view-preview-form .form-item-view-args,.view-preview-form .form-actions{margin-top:5px;}.view-preview-form .arguments-preview{font-size:1em;}.view-preview-form .arguments-preview,.view-preview-form .form-item-view-args{margin-left:10px;}[dir="rtl"] .view-preview-form .arguments-preview,[dir="rtl"] .view-preview-form .form-item-view-args{margin-right:10px;margin-left:0;}.view-preview-form .form-item-view-args label{float:left;height:6ex;margin-right:0.75em;font-weight:normal;}[dir="rtl"] .view-preview-form .form-item-view-args label{float:right;margin-right:0.2em;margin-left:0.75em;}.form-item-live-preview,.form-item-view-args,.preview-submit-wrapper{display:inline-block;}.form-item-live-preview,.view-preview-form .form-actions{vertical-align:top;}@media screen and (min-width:45em){.view-preview-form .form-type-textfield .description{white-space:nowrap;}}.views-ui-display-tab-bucket{position:relative;margin:0;padding-top:4px;border-bottom:1px solid #f3f3f3;line-height:20px;}.views-ui-display-tab-bucket:last-of-type{border-bottom:none;}.views-ui-display-tab-bucket + .views-ui-display-tab-bucket{border-top:medium none;}.views-ui-display-tab-bucket__title,.views-ui-display-tab-bucket > .views-display-setting{padding:3px 6px 4px;}.views-ui-display-tab-bucket__title{margin:0;font-size:small;}.views-ui-display-tab-bucket.access{padding-top:0;}.views-ui-display-tab-bucket.page-settings{border-bottom:medium none;}.views-display-setting .views-ajax-link{margin-right:0.2083em;margin-left:0.2083em;text-decoration:none;}.views-ui-display-tab-setting > span{margin-left:0.5em;}[dir="rtl"] .views-ui-display-tab-setting > span{margin-right:0.5em;margin-left:0;}.views-ui-display-tab-setting.overridden,.views-ui-display-tab-bucket.overridden .views-ui-display-tab-bucket__title{font-style:italic;}.views-ui-display-tab-bucket .views-display-setting{padding-bottom:2px;color:#666;font-size:12px;}.views-ui-display-tab-bucket .views-display-setting:nth-of-type(even){background-color:#f3f5ee;}.views-ui-display-tab-actions.views-ui-display-tab-bucket .views-display-setting{background-color:transparent;}.views-ui-display-tab-bucket .views-group-text{margin-top:6px;margin-bottom:6px;}.views-display-setting .label{margin-right:3px;}[dir="rtl"] .views-display-setting .label{margin-right:0;margin-left:3px;}.views-edit-view{margin-bottom:15px;}.views-filterable-options .form-type-checkbox{padding:5px 8px;border-top:none;}.views-filterable-options{border-top:1px solid #ccc;}.filterable-option .form-item{margin-top:0;margin-bottom:0;}.views-filterable-options .filterable-option .title{cursor:pointer;font-weight:bold;}.views-filterable-options .form-type-checkbox .description{margin-top:0;margin-bottom:0;}.views-filterable-options-controls .form-item{width:30%;margin:0 0 0 2%;}[dir="rtl"] .views-filterable-options-controls .form-item{margin:0 2% 0 0;}.views-filterable-options-controls input,.views-filterable-options-controls select{width:100%;}.views-ui-dialog .ui-dialog-content{padding:0;}.views-ui-dialog .views-filterable-options{margin-bottom:10px;}.views-ui-dialog .views-add-form-selected.container-inline{padding:0;}.views-ui-dialog .views-add-form-selected.container-inline > div{display:block;}.views-ui-dialog .form-item-selected{margin:0;padding:6px 16px;}.views-ui-dialog .views-override:not(:empty){padding:8px 13px;background-color:#f3f4ee;}.views-ui-dialog.views-ui-dialog-scroll .ui-dialog-titlebar{border:none;}.views-ui-dialog .views-offset-top{border-bottom:1px solid #ccc;}.views-ui-dialog .views-offset-bottom{border-top:1px solid #ccc;}.views-ui-dialog .views-override > *{margin:0;}.views-ui-dialog .views-progress-indicator{position:absolute;top:32px;right:10px;color:#fff;font-size:11px;}[dir="rtl"] .views-ui-dialog .views-progress-indicator{right:auto;left:10px;}.views-ui-dialog .views-progress-indicator:before{content:"\003C\00A0";}.views-ui-dialog .views-progress-indicator:after{content:"\00A0\003E";}.views-ui-dialog details .item-list{padding-left:2em;}[dir="rtl"] .views-ui-dialog details .item-list{padding-right:2em;padding-left:0;}.views-ui-rearrange-filter-form table{border-collapse:collapse;}.views-ui-rearrange-filter-form tr td[rowspan]{border-width:0 1px 1px 1px;border-style:solid;border-color:#cdcdcd;}.views-ui-rearrange-filter-form tr[id^="views-row"]{border-right:1px solid #cdcdcd;}[dir="rtl"] .views-ui-rearrange-filter-form tr[id^="views-row"]{border-right:0;border-left:1px solid #cdcdcd;}.views-ui-rearrange-filter-form .even td{background-color:#f3f4ed;}.views-ui-rearrange-filter-form .views-group-title{border-top:1px solid #cdcdcd;}.views-ui-rearrange-filter-form .group-empty{border-bottom:1px solid #cdcdcd;}.form-item-options-expose-required,.form-item-options-expose-label,.form-item-options-expose-description{margin-top:6px;margin-bottom:6px;margin-left:18px;}[dir="rtl"] .form-item-options-expose-required,[dir="rtl"] .form-item-options-expose-label,[dir="rtl"] .form-item-options-expose-description{margin-right:18px;margin-left:0;}.views-preview-wrapper{border:1px solid #ccc;}.view-preview-form{position:relative;}.view-preview-form__title{margin-top:0;padding:8px 12px;border-bottom:1px solid #ccc;background-color:#e1e2dc;}.view-preview-form .form-item-live-preview{position:absolute;top:3px;right:12px;margin-top:2px;margin-left:2px;}[dir="rtl"] .view-preview-form .form-item-live-preview{right:auto;left:12px;margin-right:2px;margin-left:0;}.views-live-preview{padding:12px;}.views-live-preview .views-query-info{overflow:auto;}.views-live-preview .section-title{display:inline-block;margin-top:0;margin-bottom:0;color:#818181;font-size:13px;font-weight:normal;line-height:1.6154;}.views-live-preview .view > *{margin-top:18px;}.views-live-preview .preview-section{margin:0 -5px;padding:3px 5px;border:1px dashed #dedede;}.views-live-preview li.views-row + li.views-row{margin-top:18px;}.views-live-preview div.views-row + div.views-row{margin-top:36px;}.views-query-info table{margin:10px 0;border-spacing:0;border-collapse:separate;border-color:#ddd;}.views-query-info table tr{background-color:#f9f9f9;}.views-query-info table th,.views-query-info table td{padding:4px 10px;color:#666;}.messages{margin-bottom:18px;line-height:1.4555;}.js .dropbutton-wrapper .dropbutton .dropbutton-action > .ajax-progress-throbber{position:absolute;z-index:2;top:-1px;right:-5px;}[dir="rtl"].js .dropbutton-wrapper .dropbutton .dropbutton-action > .ajax-progress-throbber{right:auto;left:-5px;}.views-display-top .dropbutton-wrapper{position:absolute;top:5px;right:4px;}[dir="rtl"] .views-display-top .dropbutton-wrapper{right:auto;left:4px;}.views-ui-display-tab-bucket .dropbutton-wrapper{position:absolute;top:3px;right:3px;}[dir="rtl"] .views-ui-display-tab-bucket .dropbutton-wrapper{right:auto;left:3px;}.views-list-section{margin-bottom:2em;}.form-textarea-wrapper,.form-item-options-content{width:100%;}
.toolbar{font-family:"Source Sans Pro","Lucida Grande",Verdana,sans-serif;font-size:0.8125rem;-moz-tap-highlight-color:rgba(0,0,0,0);-o-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);-moz-touch-callout:none;-o-touch-callout:none;-webkit-touch-callout:none;touch-callout:none;}.toolbar .toolbar-item{padding:1em 1.3333em;cursor:pointer;text-decoration:none;line-height:1em;}.toolbar .toolbar-item:hover,.toolbar .toolbar-item:focus{text-decoration:underline;}.toolbar .toolbar-bar{color:#ddd;background-color:#0f0f0f;box-shadow:-1px 0 3px 1px rgba(0,0,0,0.3333);}[dir="rtl"] .toolbar .toolbar-bar{box-shadow:1px 0 3px 1px rgba(0,0,0,0.3333);}.toolbar .toolbar-bar .toolbar-item{color:#fff;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-item{font-weight:bold;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-item:hover,.toolbar .toolbar-bar .toolbar-tab > .toolbar-item:focus{background-image:-webkit-linear-gradient(rgba(255,255,255,0.125) 20%,transparent 200%);background-image:linear-gradient(rgba(255,255,255,0.125) 20%,transparent 200%);}.toolbar .toolbar-bar .toolbar-tab > .toolbar-item.is-active{background-image:-webkit-linear-gradient(rgba(255,255,255,0.25) 20%,transparent 200%);background-image:linear-gradient(rgba(255,255,255,0.25) 20%,transparent 200%);}.toolbar .toolbar-tray{background-color:#fff;}.toolbar-horizontal .toolbar-tray > .toolbar-lining{padding-right:5em;}[dir="rtl"] .toolbar-horizontal .toolbar-tray > .toolbar-lining{padding-right:0;padding-left:5em;}.toolbar .toolbar-tray-vertical{border-right:1px solid #aaa;background-color:#f5f5f5;box-shadow:-1px 0 5px 2px rgba(0,0,0,0.3333);}[dir="rtl"] .toolbar .toolbar-tray-vertical{border-right:0 none;border-left:1px solid #aaa;box-shadow:1px 0 5px 2px rgba(0,0,0,0.3333);}.toolbar-horizontal .toolbar-tray{border-bottom:1px solid #aaa;box-shadow:-2px 1px 3px 1px rgba(0,0,0,0.3333);}[dir="rtl"] .toolbar-horizontal .toolbar-tray{box-shadow:2px 1px 3px 1px rgba(0,0,0,0.3333);}.toolbar .toolbar-tray-horizontal .toolbar-tray{background-color:#f5f5f5;}.toolbar-tray a{padding:1em 1.3333em;cursor:pointer;text-decoration:none;color:#565656;}.toolbar-tray a:hover,.toolbar-tray a:active,.toolbar-tray a:focus,.toolbar-tray a.is-active{text-decoration:underline;color:#000;}.toolbar .toolbar-menu{background-color:#fff;}.toolbar-horizontal .toolbar-tray .menu-item + .menu-item{border-left:1px solid #ddd;}[dir="rtl"] .toolbar-horizontal .toolbar-tray .menu-item + .menu-item{border-right:1px solid #ddd;border-left:0 none;}.toolbar-horizontal .toolbar-tray .menu-item:last-child{border-right:1px solid #ddd;}[dir="rtl"] .toolbar-horizontal .toolbar-tray .menu-item:last-child{border-left:1px solid #ddd;}.toolbar .toolbar-tray-vertical .menu-item + .menu-item{border-top:1px solid #ddd;}.toolbar .toolbar-tray-vertical .menu-item:last-child{border-bottom:1px solid #ddd;}.toolbar .toolbar-tray-vertical .menu-item .menu-item{border:0 none;}.toolbar .toolbar-tray-vertical .toolbar-menu ul ul{border-top:1px solid #ddd;border-bottom:1px solid #ddd;}.toolbar .toolbar-tray-vertical .menu-item:last-child > ul{border-bottom:0;}.toolbar .toolbar-tray-vertical .toolbar-menu .toolbar-menu .toolbar-menu .toolbar-menu{margin-left:0.25em;}[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu .toolbar-menu .toolbar-menu .toolbar-menu{margin-right:0.25em;margin-left:0;}.toolbar .toolbar-menu .toolbar-menu a{color:#434343;}.toolbar .toolbar-toggle-orientation{height:100%;padding:0;background-color:#f5f5f5;}.toolbar-horizontal .toolbar-tray .toolbar-toggle-orientation{border-left:1px solid #c9c9c9;}[dir="rtl"] .toolbar-horizontal .toolbar-tray .toolbar-toggle-orientation{border-right:1px solid #c9c9c9;border-left:0 none;}.toolbar .toolbar-toggle-orientation > .toolbar-lining{float:right;}[dir="rtl"] .toolbar .toolbar-toggle-orientation > .toolbar-lining{float:left;}.toolbar .toolbar-toggle-orientation button{display:inline-block;cursor:pointer;}
.toolbar .toolbar-icon{position:relative;padding-left:2.75em;}[dir="rtl"] .toolbar .toolbar-icon{padding-right:2.75em;padding-left:1.3333em;}.toolbar .toolbar-icon:before{position:absolute;top:0;left:0.6667em;display:block;width:20px;height:100%;content:"";background-color:transparent;background-repeat:no-repeat;background-attachment:scroll;background-position:center center;background-size:100% auto;}[dir="rtl"] .toolbar .toolbar-icon:before{right:0.6667em;left:auto;}.toolbar button.toolbar-icon{border:0;background-color:transparent;font-size:1em;}.toolbar .toolbar-menu ul .toolbar-icon{padding-left:1.3333em;}[dir="rtl"] .toolbar .toolbar-menu ul .toolbar-icon{padding-right:1.3333em;padding-left:0;}.toolbar .toolbar-menu ul a.toolbar-icon:before{display:none;}.toolbar .toolbar-tray-vertical .toolbar-menu ul a{padding-left:2.75em;}[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu ul a{padding-right:2.75em;padding-left:0;}.toolbar .toolbar-tray-vertical .toolbar-menu ul ul a{padding-left:3.75em;}[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu ul ul a{padding-right:3.75em;padding-left:0;}.toolbar .toolbar-tray-vertical .toolbar-menu a{padding-right:4em;padding-left:2.75em;}[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu a{padding-right:2.75em;padding-left:4em;}.toolbar-bar .toolbar-icon-menu:before{background-image:url(/core/misc/icons/bebebe/hamburger.svg);}.toolbar-bar .toolbar-icon-menu:active:before,.toolbar-bar .toolbar-icon-menu.is-active:before{background-image:url(/core/misc/icons/ffffff/hamburger.svg);}.toolbar-bar .toolbar-icon-help:before{background-image:url(/core/misc/icons/bebebe/questionmark-disc.svg);}.toolbar-bar .toolbar-icon-help:active:before,.toolbar-bar .toolbar-icon-help.is-active:before{background-image:url(/core/misc/icons/ffffff/questionmark-disc.svg);}.toolbar-icon-system-admin-content:before{background-image:url(/core/misc/icons/787878/file.svg);}.toolbar-icon-system-admin-content:active:before,.toolbar-icon-system-admin-content.is-active:before{background-image:url(/core/misc/icons/000000/file.svg);}.toolbar-icon-system-admin-structure:before{background-image:url(/core/misc/icons/787878/orgchart.svg);}.toolbar-icon-system-admin-structure:active:before,.toolbar-icon-system-admin-structure.is-active:before{background-image:url(/core/misc/icons/000000/orgchart.svg);}.toolbar-icon-system-themes-page:before{background-image:url(/core/misc/icons/787878/paintbrush.svg);}.toolbar-icon-system-themes-page:active:before,.toolbar-icon-system-themes-page.is-active:before{background-image:url(/core/misc/icons/000000/paintbrush.svg);}.toolbar-icon-entity-user-collection:before{background-image:url(/core/misc/icons/787878/people.svg);}.toolbar-icon-entity-user-collection:active:before,.toolbar-icon-entity-user-collection.is-active:before{background-image:url(/core/misc/icons/000000/people.svg);}.toolbar-icon-system-modules-list:before{background-image:url(/core/misc/icons/787878/puzzlepiece.svg);}.toolbar-icon-system-modules-list:active:before,.toolbar-icon-system-modules-list.is-active:before{background-image:url(/core/misc/icons/000000/puzzlepiece.svg);}.toolbar-icon-system-admin-config:before{background-image:url(/core/misc/icons/787878/wrench.svg);}.toolbar-icon-system-admin-config:active:before,.toolbar-icon-system-admin-config.is-active:before{background-image:url(/core/misc/icons/000000/wrench.svg);}.toolbar-icon-system-admin-reports:before{background-image:url(/core/misc/icons/787878/barchart.svg);}.toolbar-icon-system-admin-reports:active:before,.toolbar-icon-system-admin-reports.is-active:before{background-image:url(/core/misc/icons/000000/barchart.svg);}.toolbar-icon-help-main:before{background-image:url(/core/misc/icons/787878/questionmark-disc.svg);}.toolbar-icon-help-main:active:before,.toolbar-icon-help-main.is-active:before{background-image:url(/core/misc/icons/000000/questionmark-disc.svg);}@media only screen and (min-width:16.5em){.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{width:4em;margin-right:0;margin-left:0;padding-right:0;padding-left:0;text-indent:-9999px;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{left:0;width:100%;background-size:42% auto;}.no-svg .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{background-size:auto auto;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{right:0;left:auto;}}@media only screen and (min-width:36em){.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{width:auto;padding-right:1.3333em;padding-left:2.75em;text-indent:0;background-position:left center;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{padding-right:2.75em;padding-left:1.3333em;background-position:right center;}.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{left:0.6667em;width:20px;background-size:100% auto;}.no-svg .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{background-size:auto auto;}[dir="rtl"] .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{right:0.6667em;left:0;}}.toolbar-tab a:focus{text-decoration:underline;outline:none;}.toolbar-lining button:focus{outline:none;}.toolbar-tray-horizontal a:focus,.toolbar-box a:focus{outline:none;background-color:#f5f5f5;}.toolbar-box a:hover:focus{text-decoration:underline;}.toolbar .toolbar-icon.toolbar-handle:focus{outline:none;background-color:#f5f5f5;}.toolbar .toolbar-icon.toolbar-handle{width:4em;text-indent:-9999px;}.toolbar .toolbar-icon.toolbar-handle:before{left:1.6667em;}[dir="rtl"] .toolbar .toolbar-icon.toolbar-handle:before{right:1.6667em;left:auto;}.toolbar .toolbar-icon.toolbar-handle:before{background-image:url(/core/misc/icons/5181c6/chevron-disc-down.svg);}.toolbar .toolbar-icon.toolbar-handle.open:before{background-image:url(/core/misc/icons/787878/chevron-disc-up.svg);}.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle:before{background-image:url(/core/misc/icons/5181c6/twistie-down.svg);background-size:75%;}.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle.open:before{background-image:url(/core/misc/icons/787878/twistie-up.svg);background-size:75%;}.toolbar .toolbar-icon-escape-admin:before{background-image:url(/core/misc/icons/bebebe/chevron-disc-left.svg);}[dir="rtl"] .toolbar .toolbar-icon-escape-admin:before{background-image:url(/core/misc/icons/bebebe/chevron-disc-right.svg);}.toolbar .toolbar-toggle-orientation button{width:39px;height:39px;padding:0;text-indent:-999em;}.toolbar .toolbar-toggle-orientation button:before{right:0;left:0;margin:0 auto;}[dir="rtl"] .toolbar .toolbar-toggle-orientation .toolbar-icon{padding:0;}.toolbar .toolbar-toggle-orientation [value="vertical"]:before{background-image:url(/core/misc/icons/bebebe/push-left.svg);}.toolbar .toolbar-toggle-orientation [value="vertical"]:hover:before,.toolbar .toolbar-toggle-orientation [value="vertical"]:focus:before{background-image:url(/core/misc/icons/787878/push-left.svg);}[dir="rtl"] .toolbar .toolbar-toggle-orientation [value="vertical"]:before{background-image:url(/core/misc/icons/bebebe/push-right.svg);}[dir="rtl"] .toolbar .toolbar-toggle-orientation [value="vertical"]:hover:before,[dir="rtl"] .toolbar .toolbar-toggle-orientation [value="vertical"]:focus:before{background-image:url(/core/misc/icons/787878/push-right.svg);}.toolbar .toolbar-toggle-orientation [value="horizontal"]:before{background-image:url(/core/misc/icons/bebebe/push-up.svg);}.toolbar .toolbar-toggle-orientation [value="horizontal"]:hover:before,.toolbar .toolbar-toggle-orientation [value="horizontal"]:focus:before{background-image:url(/core/misc/icons/787878/push-up.svg);}
.toolbar-bar .toolbar-icon-user:before{background-image:url(/core/misc/icons/bebebe/person.svg);}.toolbar-bar .toolbar-icon-user:active:before,.toolbar-bar .toolbar-icon-user.is-active:before{background-image:url(/core/misc/icons/ffffff/person.svg);}
