.block-ledger-invoice-details-block {
  background: $satin;
  padding: 1px $spacing $spacing-double;

  @include breakpoint($breakpoint-medium) {
    padding: 1px $spacing-double $spacing-double;
  }

  .line-item {
    display: flex;

    .amount {
      margin-left: auto;
      font-weight: 700;
    }


    &.total {
      .amount {
        border-top: 1px solid $grey;
      }

      .description {
        font-weight: 700;
      }
    }
  }
}