.block-search {
  background: $accent-color;
  padding: $spacing;
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 4rem;
  transition: all 0.333s ease-in-out;
  transform: translateY(-100%);

  @include breakpoint($breakpoint-medium) {
    top: 10rem;

    @at-root body.scrolled & {
      top: 7rem;
    }
  }

  @at-root body.search-open & {
    transform: translateY(0);
    box-shadow: 0 0 2rem rgba($black, 0.2);
  }

  form {
    max-width: $breakpoint-max;
    display: flex;
    margin: 0 auto;
    padding: $spacing-double 0;

    input {
      margin-bottom: 0;
    }

    .form-item-keys {
      flex-grow: 1;
      padding-right: $spacing;

      input {
        font-size: 1.75rem;
        background: transparent;
        color: $white;
        border: none;
        border-bottom: 2px solid $white;
        padding: $spacing-half $spacing;
        box-shadow: none;

        &::placeholder {
          color: rgba($white, 0.8);
        }

        &:focus {
          box-shadow: none;
          border-bottom: 2px solid $white;
        }
      }
    }

    .form-actions input {
      background-color: transparent;
      background-image: url(../img/search-white.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      text-indent: -9999px;

      &:hover {
        background-image: url(../img/search.svg);
      }
    }
  }
}