.block-system-branding-block {
  color: $white;
  height: 4rem;
  width: 4rem;
  background: $accent-color;
  transition: all 0.333s ease-in-out;
  z-index: 10;

  @include breakpoint($breakpoint-medium) {
    height: 10rem;
    width: 10rem;
  }

  a {
    color: $white;

    img {
      position: absolute;
      height: 5rem;
      left: 1rem;

      @include breakpoint($breakpoint-medium) {
        position: unset;
        height: unset;
        left: unset;
      }
    }
  }

  @at-root body.scrolled & {
    @include breakpoint($breakpoint-medium) {
      height: 7rem;
      width: 7rem;
    }
  }
}