.block-system-breadcrumb-block {
  ol {
    display: flex;
    margin: 0 0 $spacing 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0;
      padding: 0;

      &:before {
        content: " \BB ";
      }

      &:first-child:before {
        content: none;
      }
    }
  }
}