.menu--main>ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-left: auto;

  li {
    padding: 0;
    margin: 0 $spacing-double 0 0;
    position: relative;

    a {
      display: block;
      color: $black;
      padding: $spacing * 2.25 0;
      font-weight: 700;
      border-bottom: 8px solid transparent;

      &:hover {
        border-bottom: 8px solid $link-color;
      }
    }

    &.menu-item--expanded {
      >a:hover {
        border-bottom-color: transparent
      }
    }

    &:hover ul {
      visibility: visible;
      opacity: 1;
    }
  }

  ul {
    flex-direction: column;
    position: absolute;
    display: block;
    visibility: hidden;
    z-index: 99;
    border-top: 8px solid $link-color;
    margin-top: -8px;
    width: 20rem;
    background: $white;
    padding: $spacing*3 $spacing-double;
    box-shadow: 0 1px $spacing-double rgba($black, 0.2);
    list-style: none;
    transform: translateX(-33.333%);
    transition: all 0.333s ease-in-out;
    opacity: 0;

    &::after {
      content: '';
      border-bottom: 8px solid $accent-color;
      border-top: none;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -16px);
    }

    li {
      margin: 0;

      a {
        padding: $spacing-half 0;
        border-bottom: 2px solid transparent;
        font-weight: 400;
        display: inline-block;

        &:hover {
          border-bottom: 2px solid $link-color;
        }
      }
    }
  }
}