.mobile-menu-target-wrapper {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  height: 100%;
  width: 85%;
  background: $white;
  overflow-y: scroll;
  font-size: 1.3rem;
  font-weight: 700;
  transform: translateX(100%);
  transition: all 0.333s ease-in-out;

  @at-root body.user-logged-in & {
    top: 40px;
  }

  @at-root body.menu-open & {
    transform: translateX(0);
    box-shadow: 0 0 30px rgba($black, 0.4);
  }

  ul {
    margin: $margin 0;
    list-style: none;
    padding: 0;

    li {
      margin: 0 0 $spacing / 2;
    }

    ul {
      margin: $spacing 0;
      padding: $spacing 0;
      font-size: 1.2rem;
      border-left: 10px solid $accent-color;
      font-weight: 400;
    }
  }

  a {
    color: $black;
    display: block;
    padding-left: $spacing * 1.5;
    padding-right: $spacing;

    &:hover {
      color: $accent-color;
      border-bottom: 1px solid $accent-color;
    }
  }
}

.menu-blinder {
  position: fixed;
  background: rgba($black, 0.9);
  z-index: 98;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: 0.2s all ease-in-out;

  @at-root body.user-logged-in & {
    top: 40px;
  }

  @at-root body.menu-open & {
    visibility: visible;
  }

  .closer {
    position: absolute;
    left: $spacing;
    top: $spacing;
    font-weight: 700;
    font-size: 2rem;
    color: $white;
  }
}