.block-local-tasks-block ul {
  @include breakpoint($breakpoint-medium) {
    display: flex;
    border-bottom: 1px solid $silver;
    margin: 0 0 $spacing 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 0;

      a {
        display: block;
        padding: $spacing-half $spacing;
        border-bottom: 4px solid transparent;

        &.is-active {
          border-bottom: 4px solid $silver;
        }

        &:hover,
        &:focus {
          border-bottom: 4px solid $link-color;
        }
      }
    }
  }
}